extends ./layout/index
include mixins/_filaTabla

block contenido
  .container-fluid
    .container.mt-5
      .form-floating.mb-3.rounded
        input#busqueda.form-control(
          type="busqueda",
          placeholder="Introduzca criterio de búsqueda"
        )
        label(for="busqueda") Introduzca aquí el criterio de búsqueda -> Un dígito: valoracion | Varios dígitos: año | Texto: ID IMDb o título
    .container.mt-3
      table.table
        thead
          tr
            th(scope="col") ID (IMDb)
            th(scope="col") Título
            th(scope="col") Año
            th(scope="col") Valoración
        tbody
          each pelicula in peliculas
            +filaTabla(pelicula)
